
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

h1 {
    text-align: center;
    color: darkblue;
}
h2{
    font-size: 24px;
    text-decoration: underline;
}
h3{
    font-size: 20px;
    color: darkgreen;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
#project2{
    background-color: red;
    padding: 15px;
    margin: 15px;
    border-radius: 99px;
}
#project1{
    background-color: gray;
    padding: 15px;
    margin: 15px;
    border-radius: 99px;
}
#project3{
    background-color: yellow;
    padding: 15px;
    margin: 15px;
    border-radius: 99px;
}
.profile-image{
    width: 500px;
    height: 300px;
}
